<div class="card" (click)="toggleDropdown()">
    <p>{{ info().title }}</p>
    <span class="state" [attr.data-state]="info().state"></span>
</div>
<div *ngIf="expanded" class="dropdown">
    <div><strong>Aired:</strong> {{ info().aired | date: 'short' }}</div>
    @if (info().videoFileLocation) {
        <div><strong>File Path:</strong> {{ info().videoFileLocation }}</div>
    }
    <div><strong>File Size:</strong> {{ info().fileSize | fileSize }}</div>
    <div><strong>State:</strong> {{ info().state }}</div>
    @if (info().state === VodState.Downloaded) {
        <button (click)="doDownload()">Re-Download</button>
    } @else if (info().state !== VodState.Downloading) {
        <button (click)="doDownload()">Download</button>
    }
</div>
