.card 
{
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: var(--color-background-surface);
}
.status-discovered {
  color: var(--color-warning);
}
.status-downloaded {
  color: var(--color-success);
}
.status-downloading {
  color: var(--color-brand-purple);
}
.status-error{
  color: var(--color-error);
}