.card {
    padding: 0.5rem;
    border-radius: 12px;
    min-height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--color-background-elevated);
}
.card p {
    max-width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
    margin: 0;
}
.state {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
}
.state[data-state='discovered'] {
    background: var(--color-warning);
}
.state[data-state='downloaded'] {
    background: var(--color-success);
}
.state[data-state='downloading'] {
    background: var(--color-brand-purple);
}
.state[data-state='error'] {
    background: var(--color-error);
}
.dropdown {
    background: var(--color-background-surface);
    border-top: 1px solid var(--color-border-light);
    border-radius: 0 0 12px 12px;
    padding: 0.5rem 1rem;
    font-size: 0.95em;
    animation: fadeIn 0.2s;
    top: -0.5rem;
    position: relative;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.dropdown button {
    background: var(--color-background-accent);
    color: var(--color-text-inverse);
    border: none;
    border-radius: 10%;
    margin-top: 1rem;
    padding: 0.5rem 0.75rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background 0.2s;
    margin-right: 2rem;
}
.dropdown button:hover {
    background: var(--color-background-main);
    color: var(--color-text-main);
}
